
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 250px;
    margin-top: 78px;
}

.profile-content{
    display: flex;
    align-items: center;
    margin-left: 49px;
}

.profile-content__image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #d9d9d9;
}

.profile-content__user-name{
    font-size: 36px;
    font-weight: 700;
    margin-left: 57px;
}

.profile__change-link{
    color: #ff5555;
    border: solid 2px #ff5555;
    border-radius: 10px;
    text-decoration: none;
    width: 310px;
    height: 59px;
    font-size: 26px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items-tabs {
    display: flex;
    align-items: center;
    height: 47px;
    margin-top: 77px;
    padding-left: 160px;
    gap: 80px;
    border-bottom: 2px solid #5f5f5f;
}

.items-tabs__exhibited,
.items-tabs__purchased {
    text-decoration: none;
    font-size: 24px;
    color: #5f5f5f;
    font-weight: bolder;
}

.items-tabs__exhibited.active,
.items-tabs__purchased.active {
    color: #ff0000;
}

.items-list {
    display: grid;
    margin: 69px;
    grid-template-columns: repeat(4, 1fr);
    gap: 69px;
}

.item-card__img {
    aspect-ratio: 1/1;
    border-radius: 6px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.item-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-card__sold {
    position: absolute;
    top: 10px;
    left: 10px;

    background: red;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
}

.item-card__name {
    font-size: 25px;
}

@media (max-width:850px) {

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        margin-top: 30px;
    }

    .profile-content {
        display: flex;
        width: 60%;
        align-items: center;
        margin-left: 0px;
        margin-bottom: 30px;
    }

    .profile-content__image {
        width: 120px;
        height: 120px;
    }

    .profile-content__user-name{
        font-size: 30px;
        margin-left: 30px;
    }

    .profile__change-link {
        color: #ff5555;
        border: solid 2px #ff5555;
        border-radius: 10px;
        text-decoration: none;
        width: 60%;
        height: 49px;
        font-size: 24px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .items-tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
        gap: 120px;
        margin-top: 40px;
    }


    .items-list {
        margin: 20px;
        gap: 20px;
    }

    .item-card__name {
        font-size: 14px;
    }
}