
.exhibition-content {
    width: 680px;
    margin: 0px auto;
}

.exhibition__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 850px) {
    .exhibition-content {
        width: 80vw;
    }
}

.item-image{
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.item-image__actions{
    width: 100%;
    height: 150px;
    border: dashed 1px #5f5f5f;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-image__label{
    color: #ff5555;
    border: solid 2px #ff5555;
    border-radius: 10px;
    text-decoration: none;
    width: 165px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding: 9px;
}

.item-image__input,
.category__select--input{
    display: none;
}


.item-details__title,
.item-description__title {
    border-bottom: solid 1px #5f5f5f;
}

.item-description__group,
.item-details__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}

.item-details__group--title{
    margin: 0px;
    margin-bottom: 15px;
}

.item-details__group--content{
    display: flex;
    flex-wrap: wrap;
    margin-left:10px
}

.category__select--label{
    padding: 0px 15px;
    margin: 15px 0;
    white-space: nowrap;
    margin-right: 15px;
    border: solid 2px #ff5555;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 500;
    color: #ff5555;
}

.item-details__group--content input:checked+.category__select--label {
    background-color: #ff5555;
    color: #fff;
}

.item-image__title,
.item-description__label,
.item-details__label {
    margin-bottom: 2px;
    font-weight: bolder;
}

.item-details__group--select,
.item-details__input,
.item-description__input {
    padding: 8px 12px;
    width: 100%;
    height: 48px;
    border:solid 1px #5f5f5f;
    border-radius: 6px;
}

.item-description__textarea{
    padding: 8px 12px;
    width: 100%;
    height: 125px;
    border: solid 1px #5f5f5f;
    border-radius: 6px;

}

.exhibition__form--btn {
    margin-top: 64px;
    width: 100%;
    height: 65.25px;
    background-color: #ff5555;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bolder;
}