.exhibition-content {
    width: 680px;
    margin: 0px auto;
}

.exhibition__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 850px) {
    .exhibition-content {
        width: 80vw;
    }
}

.item-details__group--title{
    margin-bottom: 15px;
}

.item-details__group--content{
    display: flex;
    flex-wrap: wrap;
}

.category__select--label{
    padding: 0px 15px;
    margin: 20px 0;
    white-space: nowrap;
    margin-right: 15px;
    border: solid 2px #ff5555;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 500;
    color: #ff5555;
}

.category__select--label input{
    display: none;
}

.item-description__group,
.item-details__group {
    display: flex;
    flex-direction: column;
}

.item-description__label,
.item-details__label {
    margin-bottom: 2px;
    font-weight: bolder;
}

.item-details__group--select,
.item-description__input,
.item-details__input {
    padding: 8px 12px;
    width: 100%;
    height: 48px;
    border:solid 2px #5e5e5e5e;
    border-radius: 6px;
}

.item-description__textarea{
    padding: 8px 12px;
    width: 100%;
    height: 125px;
    border: solid 2px #5e5e5e5e;
    border-radius: 6px;

}

.exhibition__form--btn {
    margin-top: 64px;
    width: 100%;
    height: 65.25px;
    background-color: #ff5555;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bolder;
}