.show-content{
    margin: 66px;
    margin-top: 95px;
    display: flex;
}


.show-image{
    aspect-ratio: 1/1;
    margin: 45px;
    width: 50%;
}

.show-image img{
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.show-info{
    display: flex;
    flex-direction: column;
    margin:0px 60px;
    width: 50%;
}

.show-info__name{
    font-size: 45px;
    margin: 0;
}

.show-info__brand{
    font-size: 20px;
    margin: 0;
}

.show-info__price{
    font-size: 24px;
}

.show-info__price span{
    font-size: 45px;
}

.show-info__items{
    display: flex;
    margin-left: 5px;
}

.show-info__items-favorite,
.show-info__items-comment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}

.show-info__items-favorite p,
.show-info__items-comment p{
    margin: 0;
}

.show-info__items-favorite--button{
    border: none;
    background-color: transparent;
}

.show-info__purchase,
.show-info__purchase:visited{
    width: 100%;
    padding: 13px;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 22px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    background-color: #ff5555;
    color: white;
}

