.login-form {
    margin-top: 20px;

}

.login-form__inner {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.login-form__form {
    width: 680px;
    background-color: #ffffff;
}

@media screen and (max-width: 850px) {
    .login-form__form {
        width: 80vw;
    }
}

.login-form__group {
    margin-bottom: 32px;
}

.login-form__label {
    display: block;
    margin-bottom: 2px;
    font-weight: bolder;
}

.login-form__input {
    display: block;
    padding: 8px 12px;
    width: 100%;
    height: 48px;
    border-color: #5e5e5e2c;
    border-radius: 6px;
    background-color: #ffffff;
    font-family: sans-serif;
}

.login-form__error-message {
    color: #ff5555;
}

.login-form__btn {
    margin-top: 64px;
    width: 100%;
    height: 65.25px;
    background-color: #ff5555;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bolder;
}

.login-page__register-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 24px;
    font-size: 18px;
}