

.register-form__inner {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.register-form__form {
    padding: 64px 0px;
    width: 680px;
    background-color: #ffffff;
}

@media screen and (max-width: 1200px) {
    .register-form__form {
        width: 60vw;
    }
}

.register-form__group {
    margin-bottom: 32px;
}

.register-form__label {
    display: block;
    margin-bottom: 8px;
    font-weight: bolder;
}

.register-form__input {
    display: block;
    padding: 8px 12px;
    width: 100%;
    height: 48px;
    border-color: #5f5f5f;
    border-radius: 3px;
    background-color: #ffffff;
    font-family: sans-serif;
}

.register-form__error-message {
    color: #ff5555;
}

.register-form__btn {
    margin: 0, auto;
    margin-top: 60px;
    padding: 10px;
    width: 100%;
    background-color: #ff5555;
    color: #ffffff;
    border: none;
}

.register-page__login-link{
    display: flex;
    justify-content: center;
    text-decoration: none;
}